Django>=5.1.0,<5.2
djangorestframework>=3.17.0
djangorestframework-simplejwt>=5.5.0
pyjwt>=2.15.1
pygments>=2.21.0
psycopg2-binary>=2.9.13
python-decouple>=3.8
django-cors-headers>=4.9.0
drf-spectacular>=0.30.0
pytest>=8.2.0
pytest-django>=4.8.0
